.img{
    width: 150px;
    height: 150px;
    padding: 10px;
}
.start{
    display: flex;
    justify-content: start;
    align-items: start;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.end{
    display: flex;
    justify-content: end;
    align-items: end;
}