/* body{
    background-color: aqua;
} */

a{
    text-align: center;
    color: white;
    margin: 5px;
    padding: 25px;
    background-color: red;
    font-size: 40px;
    font-weight: 30px;
    display: block;
    text-decoration: none;
}
a:hover{
    background-color: rgb(34, 255, 0);
}