#head {
    text-align: center;
}

.card{
    margin: 30px;
    padding:20px;
    background:#ddebf8;
    border-bottom: 6px solid #d8cefe;
    
    display:flex;
    justify-content: space-around;
    width:400px;
}
.avatar{
    width: 150px;
    display: inline;
    border: 3px solid #d8cefe;
}

.profile,.info{
    padding: 20px;
    
}

.ff {
    font-size: larger;
    font-style: italic;
    color: #2b2835;
}
